<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
           android:name="@string/plugin_button_metadata_api_string"
           android:value="@string/api_version" />
        <meta-data
           android:name="@string/plugin_scan_metadata_api_string"
           android:value="@string/scan_api_version" />
    </application>

    <queries>
        <package android:name="@string/zettel_package_name" />
        <package android:name="@string/zettel_package_name_debug" />
    </queries>
</manifest>