<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
           android:name="org.eu.thedoc.zettelnotes.interfaces.version"
           android:value="@string/api_version" />
        <meta-data
           android:name="org.eu.thedoc.zettelnotes.interfaces.scan.version"
           android:value="@string/scan_api_version" />
    </application>

    <queries>
        <package android:name="@string/zettel_package_name" />
        <package android:name="@string/zettel_package_name_debug" />
    </queries>
</manifest>